<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
  <h2>
  <%= form.label :title, style: "display: block" %>
  </h2>
    <%= form.text_field :title %>
  </div>

  <div>
  <h3>
    <%= form.label :description, style: "display: block" %>
  </h3>
    <%= form.text_area :description %>
  </div>

  <div>
  <label class="btn btn-secondary active">
    <%= form.submit %>
  </label>
  </div>
<% end %>
